<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <% if (user) { %>
    <h2>Add a message to the message board</h2>

    <% if (locals.errors) { %>
      <% errors.forEach(function (error) { %>
          <p class="validation-messages">
              <%= error.msg %>
          </p>
      <% }); %>
    <% }; %>

    <form method="POST" action="">
      <textarea name="content" placeholder="Your message" required></textarea>
      <button>Submit</button>
    </form>

    <% } else { %>
      <h2>You must be logged in to post a message.</h2>
      <nav>
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Log in</a></p>
      </nav>
    <% } %>
  </body>
</html>
